/*Configuracion inicial*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --bg-color: rgb(15, 116, 15);
    --second-bg-color: rgb(173, 24, 24);
    --text-color: whitesmoke;
    --hover-color: grey;
    --font-roboto: "Roboto", sans-serif;
    --font-italian: "Playwrite+IT+Moderna", cursive;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: var(--font-sans);
}

/*Utilidades*/

.container{
    max-width: 100rem;
    padding: 1rem;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    padding: 2rem 3rem;
    background-color: var(--second-bg-color);
    border-radius: 1rem;
    font-weight: 600;
    color: var(--text-color);
    font-size: 1.8rem;
    transition-duration: 0.3s;
}

.btn:hover{
    transform: scale(1.1);
}

.title2{
    font-family: var(--font-italian);
    font-size: 4rem;
    text-align: center;
    margin: 3rem 0;
}

/*Video*/

#bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/*Header*/

.header{
    position: relative;
    max-width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.header-logo{
    margin: 3rem 0;
}

.header-logo h1{
    color: var(--second-bg-color);
    font-family: var(--font-italian);
    font-size: 4rem;
}

.header-logo h2{
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 3rem;
}

.navbar{
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: var(--bg-color);
    padding: 3rem 0;
}

.navbar a{
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 700;
}

.navbar a:hover{
    color: var(--second-bg-color);
}